<h2>Projects</h2>

<%= admins_only do %>
<%= link_to "New Project", new_project_path %>
<% end %>

<ul id="projects">
  <% @projects.each do |project| %>
    <li class="<%= cycle("odd", "even") %>">
    <p><%= link_to project.name, project %></p>
    </li>
  <% end %>
</ul>
